.selected {
  margin: 3em;
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.selected__seat {
  grid-column-start: 1;
  grid-column-end: 2;
}

.selected__fee {
  grid-column-start: 2;
  grid-column-end: 3;
}

.selected__seat__label {
  font-size: 1rem;
  color: gray;
}
